.nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 3rem;
    gap: 1.5625rem;
    left: 50%;
}

.nav-about{
    transform: translateX(-1.56rem);
}

.nav-skills {
    transform: translateX(-6.25rem);
}

.nav-projects {
    transform: translateX(-10.94rem);
}

.nav-contact {
    transform: translateX(-15.62rem);
}

a {
    position: relative; /* Add this */
    width: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }
  
  .page-title {
    position: absolute; /* Add this */
    top: 100%; /* Add this */
    left: 50%; /* Add this */
    transform: translateX(-50%); /* Add this */
    visibility: hidden; /* Add this */
    font-size: 0.875rem;
    color: whitesmoke;
  }
  
  a:hover .page-title {
    visibility: visible; /* Add this */
  }
  
  .icon-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  